QMainWindow {
    background-color: #2E3440;
}
QWidget{
    background-color: #27374d;
}
QPushButton{
    background-color: #8ba0b1;
    color: black;
    font: bold;
    border-radius: 5px;
    padding: 5px;
}

QPushButton:Hover{
    background-color: #8bb3ca;
}